@import '../../global.scss';
.graphicWrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  .image {
    width: 100%;
    height: 100%;
  }
  .textContainer {
    position: absolute;
    top: 70%;
    text-align: center;
    .textHeading {
      font-family: $font-Fraunces;
      margin-bottom: 1.5rem;
    }
    .textBody {
      font-family: $font-Barlow;
      padding-right: 2rem;
      padding-left: 2rem;
      line-height: 1.5rem;
    }
  }
}
