@import '../../global.scss';
.header {
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: $color-navbar;
    height: 70px;
    width: 100%;
    padding: 10px;
    align-items: center;
    .leftSide {
      .menuBurger {
        cursor: pointer;
      }
    }
  }
}
