@import '../../global.scss';
.mainWrapper {
  box-sizing: border-box;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: $font-Barlow;
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    .clientImage {
      img {
        margin-bottom: 1.5rem;
        border-radius: 50%;
        width: 35%;
        height: 35%;
      }
    }
    .clientComment {
      color: $color-dark-grayish-blue;
      margin-bottom: 1.5rem;
      line-height: 1.5rem;
    }
    .clientName {
      font-family: $font-Fraunces;
      color: $color-dark-blue;
      margin-bottom: 0.5rem;
    }
    .clientCompany {
      color: $color-light-grayish-blue;
      margin-bottom: 3rem;
      font-size: 0.75rem;
    }
  }
}
