//primary Color ///////////////////////
$color-soft-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-graphic-design-text: hsl(167, 40%, 24%);
$color-photography-text: hsl(198, 62%, 26%);
$color-footer: hsl(168, 34%, 41%);
$color-navbar: rgb(62, 191, 255);
//Neutral Color ///////////////////////
$color-dark-blue: hsl(212, 27%, 19%);
$color-dark-grayish-blue: hsl(213, 9%, 39%);
$color-grayish-blue: hsl(232, 10%, 55%);
$color-light-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);
// Fonts //////////////////////////
$font-Barlow: 'Barlow', sans-serif;
$font-Fraunces: 'Fraunces', serif;
$font-size: 18px;
