@import '../../global.scss';
* {
  color: $color-dark-blue;
}
.transformWrapper {
  height: 50vh;
  width: 100vw;
  padding: 0;
  .transformImage {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
.textWrapper {
  background-color: $color-white;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    .textHeading {
      font-family: $font-Fraunces;
      font-weight: 900;
      font-size: 2.5rem;
      text-align: center;
    }
    .textBody {
      font-family: $font-Barlow;
      text-align: center;
      padding: 2rem;
      color: $color-grayish-blue;
      line-height: 1.5rem;
    }
    .more {
      font-size: 1rem;
      font-weight: 900;
      text-decoration-color: $color-yellow;
      text-decoration-style: 2rem solid $color-yellow;
      padding-bottom: 2rem;
    }
  }
}
